<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>мой маленький сайт</title>
</head>
<body>
<h1>Доброго времени суток!</h1>
Я -- Денис Рахман, а это мой сайт. </br>
Здесь есть: 
<li><a href=http://denisrakhman.pythonanywhere.com/verbs>счетчик глаголов </a>
<li><a href=http://denisrakhman.pythonanywhere.com/vk>счетчик комментариев </a></br>
Вы также можете просмотреть код <a href=https://github.com/DenisRakhman/flask-intro/tree/master/hw2> здесь</a>


</body>
</html>