<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Счетчик глаголов</title>
</head>
<body>
<h1>Счетчик глаголов</h1>
	<form method="get">
    <label>Введите текст: <input type="textarea" name="text"> </label><br/><br/>
	<input type="submit" value="Отправить">	
	</form>
{% if out %}	
Ваш текст:<br /> {{text}}<hr />
всего глаголов: {{verbnumber}}<br/>
доля глаголов: {{verbpercent}}<br/>
переходных/непереходных глаголов: {{trans}}/{{intrans}}<br/>
совершенного/несовершенного вида: {{pfv}}/{{ipfv}}<br/>	
глаголы в порядке убывания по частоте:<br/>
{% for i in freqlist %}
{{i}}<br/>
{% endfor %}
{% endif %}


</body>
</html>